<ion-header>
  <ion-navbar>
    <ion-title>Ajustes</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col width-100>
        <ion-list>
          <form (ngSubmit)="saveForm()">
            <ion-item [formGroup]="form">
              <ion-label> Código Municipio:</ion-label>
              <ion-input [(ngModel)]="idMunicipio" name="idMunicipio" type="text" formControlName="regularMunicipio">
              </ion-input>
            </ion-item>
            <button ion-button type="submit" block>Guardar</button>
          </form>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- <button ion-button block (click)="downloadCSV()"><ion-icon name="download"></ion-icon>DESCARGAR CSV<ion-icon name="download"></ion-icon></button> -->
  <ion-scroll scrollX="true" scrollY="true" class="data-scroll">
    <table border="1" class="data-table">
      <tr>
        <td *ngFor="let header of headerRow" text-center><b>{{ header }}</b></td>
      </tr>
      <tr *ngFor="let row of csvData; let i = index">
        <td *ngFor="let data of row; let j = index; trackBy: trackByFn">
          <ion-input type="text" [(ngModel)]="csvData[i][j]"></ion-input>
        </td>
      </tr>
    </table>
  </ion-scroll>
</ion-content>